body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

h1 {
    color: red;
    text-shadow: 0 0 20px red;
}
.box {
    margin: 30px auto;
    padding: 30px;
    width: 60%;
    background: #111;
    border-radius: 10px;
    box-shadow: 0 0 25px red;
    text-align: center;   /* fix alignment */
}

input, select {
    padding: 10px;
    margin: 10px 10px 10px 0;
    background: black;
    color: white;
    border: 1px solid red;
}

button {
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkred;
}
/* Result Box */
.result-box {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background: #0b0b0b;
    box-shadow: 0 0 15px red;
}

/* Price Text */
.result-box p {
    font-size: 18px;
    margin: 5px 0;
}

/* Winner Highlight */
.winner {
    margin-top: 10px;
    color: #00ffcc;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 10px #00ffcc;
}

input:focus, select:focus {
    outline: none;
    border: 2px solid red;
    box-shadow: 0 0 10px red;
    background: #000;
    color: white;
}
h3 {
    margin-top: 20px;
}
.graph-img {
    width: 100%;          
    max-width: 500px;
    display: block;
    margin: 20px auto;    /* center */
    border-radius: 10px;
    box-shadow: 0 0 15px red;
}
.car-img {
    width: 220px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px red;
}
.car-img {
    width: 200px;
    display: block;
    margin: 15px auto;
}